:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.bg-black {
  background-color: black;
}
.p-10 {
  padding-left: 12.2rem;
  padding-right: 12.2rem;
}
.f-20 {
  font-size: 20px;
}
.f-16 {
  font-size: 16px;
}
.f-14 {
  font-size: 14px;
}
.f-13 {
  font-size: 13px;
}
.course p {
  margin-bottom: 0px;
}
.br-25 {
  border-radius: 25px;
}
.text-red {
  color: #F40000;
}
.btn-red {
  background-color: #F40000;
}
@media (max-width: 1100px) {
  .p-10 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .t-center {
    text-align: center;
  }
}

/* .link {
  background-color: rgb(131, 238, 114);
  color: rgb(251, 9, 9);
  margin: 0px auto 20px;
  font-weight: 400;
  font-family: Lato, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 40px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 20%), inset 0px -5px 0px rgb(0 0 0 / 20%);
  padding: 15px 35px;
  font-size: 22px;
} */


.bg-fade {
  background-color: rgba(255,255,255,0.1);
  border-radius: 100px;
  padding: 25px;
  margin-bottom: 25px;
}

.green div p:first-child {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2;
}
.green div p:nth-child(2) {
  color: #63687D;
  line-height: 1.3;
}
.mb-0 {
  margin-bottom: 0;
}

.brownish {
  background-color: #E8E1D3;
}
.winish {
  background-color: #B2494C;
}

.link {
    background-color: rgb(232, 225, 211);
    color: rgb(178, 73, 76);
    margin: 0px auto 20px;
    font-weight: 700;
    font-family: lato;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%), inset 0px -5px 0px rgb(0 0 0 / 20%);
    padding: 15px 35px;
    font-size: 22px;
    border-radius: 6px;
}
.lato {
  font-family: 'Lato', 'Roboto', Helvetica;
}
.helvetica {
  font-family: Helvetica, Arial, sans-serif;
}
.opensans {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.px-3r {
    padding-left: 10%;
    padding-right: 10%;
}
.px-7 {
  padding-left: 7%;
  padding-right: 7%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
}
.text-black {
  color: #000;
}
.background {
    background-repeat: repeat;
    background-position: center center;
    background-size: auto;
    background-attachment: scroll;
    background-image: url(http://d1aettbyeyfilo.cloudfront.net/triciabiz/17033317_1613088567gLUTricia_2.webp);
    background-size: cover;
}

a:hover {
  color: rgb(178, 73, 76) !important;
  text-decoration: none !important;
}

html {
  font-size: 1vw;
}
@media(max-width: 991px) {
  html {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 2.5vw;
  }
  .image {
    width: 100%;
  }
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #F0DBDB;
  color: #000;
  width: 35rem;
  margin: 0 auto;
  border-radius: 3px;
}
.time-item {
  border-right: 1px solid #ccc;
  padding: 0px 2rem;
  font-weight: 100;
}
.time-item:last-of-type {
  border-right: none;
}
.time-item p:first-child {
  font-size: 3.5rem;
}
.time-item p:last-child {
  font-size: 0.88rem;
}
.image {
  display: table !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 2rem;
}