:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.helvetica {
  font-family: Helvetica, sans-serif;
}

html {
  font-size: 1vw;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.w-37 {
  width: 37%;
}
.w-60{
  width: 60%;
}

.text-red {
  color: #ff0000;
}

.link {
  padding: 15px;
  background-color: #FFDE59;
  color: black;
  border-radius: 7px;
  font-weight: bold;
}

.f-16 {
  font-size: 1.2em;
}
.px6 {
  padding-right: 6em;
  padding-left: 6em;
}
.py6 {
  padding-top: 6em;
  padding-bottom: 6em;
}
.pb6 {
  padding-bottom: 6em;
}
.py5 {
  padding-top: 5em;
  padding-bottom: 5em;
}
.pt4 {
  padding-top: 4em;
}
.pb4{
  padding-bottom: 4em;
}
.py2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.border2 {
  border-width: 2px !important;
}
.img {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
}



@media(max-width: 991px) {
  html {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 2.5vw;
  }
}